In [45]:
import pandas as pd
import numpy as np
import matplotlib as mt

In [ ]:
df=pd.read_csv('Flipkart_Mobiles.csv')

In [9]:
df.head(10)

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990
5,OPPO,A53,Electric Black,6 GB,128 GB,4.3,13990,17990
6,OPPO,A12,Deep Blue,4 GB,64 GB,4.4,10490,11990
7,OPPO,A12,Black,3 GB,32 GB,4.4,9490,10990
8,OPPO,A12,Blue,3 GB,32 GB,4.4,9490,10990
9,OPPO,A12,Flowing Silver,3 GB,32 GB,4.4,9490,10990

In [10]:
df.describe()

            Rating  Selling Price  Original Price
count  2970.000000    3114.000000     3114.000000
mean      4.243098   26436.625562    28333.473025
std       0.271991   30066.892622    31525.599889
min       2.300000    1000.000000     1000.000000
25%       4.100000    9990.000000    10030.250000
50%       4.300000   15000.000000    16889.500000
75%       4.400000   28999.000000    31500.000000
max       5.000000  179900.000000   189999.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           3114 non-null   object
 1   Model           3114 non-null   object
 2   Color           3114 non-null   object
 3   Memory          3071 non-null   object
 4   Storage         3075 non-null   object
 5   Rating          2970 non-null   float64
 6   Selling Price   3114 non-null   int64
 7   Original Price  3114 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 194.8+ KB

In [21]:
pd.isnull(df).sum()

Brand              0
Model              0
Color              0
Memory            43
Storage           39
Rating             0
Selling Price      0
Original Price     0
dtype: int64

In [19]:
## fill rating valules as average vallue because we foind some null values
df["Rating"].fillna(4.2)

0       4.5
1       4.5
2       4.3
3       4.3
4       4.5
       ...
3109    4.3
3110    4.3
3111    4.3
3112    4.2
3113    4.2
Name: Rating, Length: 3114, dtype: float64

In [23]:
## now rating is not null anymore
pd.isnull(df).sum()

Brand              0
Model              0
Color              0
Memory            43
Storage           39
Rating             0
Selling Price      0
Original Price     0
dtype: int64

In [25]:
# its like a group by function. we checked count of storage size
df["Storage"].value_counts()

Storage
64 GB                    774
128 GB                   764
32 GB                    555
16 GB                    322
256 GB                   240
8 GB                     133
512 GB                    67
4 GB                      56
2 MB                      45
4 MB                      28
1 TB                      14
16 MB                     14
128 MB                    12
Expandable Upto 16 GB     12
Expandable Upto 32 GB     12
8 MB                       6
256 MB                     3
48 MB                      3
129 GB                     3
64 MB                      3
100 MB                     2
512 MB                     2
130 GB                     2
10 MB                      1
153 MB                     1
140 MB                     1
Name: count, dtype: int64

In [30]:
# check null values
null_mask = df['Storage'].isnull()

# Step 2: Generate random choices between "64 GB" and "128 GB" where the values are null
random_choices = np.random.choice(["64 GB", "128 GB"], size=null_mask.sum())

# Step 3: Assign the random values to the 'Storage' column where there are null values
df.loc[null_mask, 'Storage'] = random_choices

In [31]:
df["Storage"].value_counts()

Storage
64 GB                    798
128 GB                   779
32 GB                    555
16 GB                    322
256 GB                   240
8 GB                     133
512 GB                    67
4 GB                      56
2 MB                      45
4 MB                      28
1 TB                      14
16 MB                     14
128 MB                    12
Expandable Upto 16 GB     12
Expandable Upto 32 GB     12
8 MB                       6
256 MB                     3
48 MB                      3
129 GB                     3
64 MB                      3
100 MB                     2
512 MB                     2
130 GB                     2
10 MB                      1
153 MB                     1
140 MB                     1
Name: count, dtype: int64

In [32]:
pd.isnull(df).sum()

Brand                0
Model                0
Color                0
Memory              43
Storage              0
Rating               0
Selling Price        0
Original Price       0
storage           3075
dtype: int64

In [35]:
pd.isnull(df).sum()

Brand              0
Model              0
Color              0
Memory            43
Storage            0
Rating             0
Selling Price      0
Original Price     0
dtype: int64

In [40]:
df['Memory'] = df['Memory'].fillna("4 GB")

In [43]:
# now we have removed all null values and cleaned the dataset
pd.isnull(df).sum()

Brand             0
Model             0
Color             0
Memory            0
Storage           0
Rating            0
Selling Price     0
Original Price    0
dtype: int64

In [52]:
df['Original Price'] = pd.to_numeric(df['Original Price'], errors='coerce')
df['Selling Price'] = pd.to_numeric(df['Selling Price'], errors='coerce')

In [53]:
df['Discount_percentage'] = ((df['Original Price'] - df['Selling Price']) / df['Original Price']) * 100

In [59]:
pd.isnull(df).sum()

Brand                  0
Model                  0
Color                  0
Memory                 0
Storage                0
Rating                 0
Selling Price          0
Original Price         0
Discount_percentage    0
dtype: int64

In [64]:
# highest discount
df['Discount_percentage'].nlargest(1)

803    70.610305
Name: Discount_percentage, dtype: float64

In [65]:
df.loc[df['Discount_percentage'].idxmax()]

Brand                       GIONEE
Model                  Pioneer P3
Color                        White
Memory                      512 MB
Storage                       4 GB
Rating                         3.6
Selling Price               2350.0
Original Price              7996.0
Discount_percentage      70.610305
Name: 803, dtype: object

In [66]:
df.to_csv('cleaned_data.csv', index=False)